<div *ngIf="response || errorMessage" class="response-container">
    <div *ngIf="errorMessage" class="error-container">
      <h2 class="error-message">{{ errorMessage }}</h2>
    </div>
  
    <div *ngIf="response" class="response-card card shadow-sm p-4">
      <h2 class="response-message">{{ response.message }}</h2>
  
      <p>
        <strong>Successful Readings:</strong> {{ response.successfulReadings }}
      </p>
      <p>
        <strong>Failed Readings:</strong> {{ response.failedReadings }}
      </p>
  
      <div *ngIf="response.failedReadingsErrors?.length > 0" class="error-list-container">
        <h3 class="error-list-title">Errors:</h3>
        <ul class="error-list">
          <li *ngFor="let error of response.failedReadingsErrors" class="error-item">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  