<div class="centered-container">
    <div class="app-content">
        <img src="assets/images/ENSEK-logo.png" alt="Logo" class="logo" />
        <div>
            <h1 class="title">Meter Reading Upload</h1>
        </div>
    
        <div class="card">
            <h2 class="card-title">Upload your meter readings CSV file</h2>

            <app-file-upload (fileSelected)="onFileSelected($event)"></app-file-upload>
            
            <button class="upload-btn" (click)="onUpload()">Upload</button>
        </div>

        <div class="response-container">
            <app-response-display 
            [response]="response" 
            [errorMessage]="errorMessage">
            </app-response-display>
        </div>
    </div>
</div>
